mixin buttonPrimary(href, text, modifier, isSubmit)
  if (!text)
    a(
      href=href
      class=modifier
      ).button-primary
        if block
          block
  else if (isSubmit)
    button(
        href=href
        class=modifier
      ).button-primary.text-small.medium !{text}
  else
    a(
      href=href
      class=modifier
      ).button-primary.text-small.medium !{text}

mixin buttonSecondary(href, text, modifier, isSubmit)
  if (!text)
    a(
      href=href
      class=modifier
      ).button-secondary
        if block
          block
  else if (isSubmit)
    button(
        href=href
        class=modifier
      ).button-primary.text-small.medium !{text}
  else
    a(
      href=href
      class=modifier
      ).button-secondary.text-small.medium !{text}
