mixin buttonPrimary(href, text, modifier)
  a(
    href=href
    class=modifier
    ).button-primary.text-small.medium !{text}

mixin buttonSecondary(href, text, modifier)
  a(
    href=href
    class=modifier
    ).button-secondary.text-small.medium !{text}
