mixin buttonPrimary(href, text, modifier)
  if (!text)
    a(
      href=href
      class=modifier
      ).button-primary
        if block
          block
  else
    a(
      href=href
      class=modifier
      ).button-primary.text-small.medium !{text}

mixin buttonSecondary(href, text, modifier)
  if (!text)
    a(
      href=href
      class=modifier
      ).button-secondary
        if block
          block
  else
    a(
      href=href
      class=modifier
      ).button-secondary.text-small.medium !{text}
