include ../utils/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=yes')
    meta(name='theme-color', content=theme)
    meta(name='msapplication-TileColor' content=theme)
    meta(name='msapplication-navbutton-color' content=theme)
    meta(name='apple-mobile-web-app-status-bar-style' content=theme)
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    block header
      include ../../modules/header/header
    block content

    block footer
      include ../../modules/footer/footer
    block script
